<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sai muruti paramedical pharmacy</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" media="screen and (max-width:999px)" href="phone.css">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <a href="/"><img src="Bionic Engineers Logo - White.jpg" alt="srimarutipharamcy.com"></a>

        </div>
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="#services-container">Services</a></li>
            <li class="item"><a href="/index5">About us</a></li>
            <li class="item"><a href="/index2">Contact us</a></li>
        </ul>
    </nav>
    <section id="home">
        <h2 id="home-primary" class="center">Welcome to the Sri Maruti Pharmacy</h2>
        <p>Sri Maruti pharma in Bangalore is one of the leading businesses in a Surgical Equipment dealers. Also known
            for Surgical Equipment Dealers,Pharmaceutical Product Distributors,Medical Equipment Dealers,Pharmaceutical
            Distributors,Surgical item Dealers, Medicine Distributors,Medical Product Dealers,Generic Medicine
            Wholesalers and much more.</p>

    </section>
    <section class="chat">
       <a href="http://www.whatsapp.com"><img src="soon-873316_1280.png" alt=""></a> 
    </section>

    <section id="services-container">
        <h2 class="home-primary center">Our Services</h2>
        <div id="services">
            <div class="box">
                <img src="laboratory-2815641_1920.jpg" alt="my online">
                <h3 class="home-secondary center">Chemists</h3>

            </div>
            <div class="box">
                <img src="img2.jpg" alt="my online">
                <h3 class="home-secondary center">Surgical Equipment Dealers</h3>

            </div>
            <div class="box">
                <img src="img3.jpg" alt="my online">
                <h3 class="home-secondary center">Medical Medicine Dealers</h3>

            </div>
            <div class="box">
                <img src="/services/Continuously updated and double verified Pharmaceutical Products_Wholesalers and Distributors Mailing Lists from AverickMedia.jpg"
                    alt="my online">
                <h3 class="home-secondary center">Pharmaceutical distributors</h3>

            </div>
            <div class="box">
                <img src="/services/How to Save Money on Prescriptions if You Lost Coverage.png" alt="my online">
                <h3 class="home-secondary center">Pharmaceutical Product Distributors</h3>

            </div>
            <div class="box">
                <img src="/services/In Stock Non Woven Eco-friendly Fabric N95 Mask Disposable masks.jpg"
                    alt="my online">
                <h3 class="home-secondary center">N95 Face Mask Dealers</h3>

            </div>
            <div class="box">
                <img src="/services/medications-1853400_1920.jpg" alt="my online">
                <h3 class="home-secondary center">Medicine Wholesalers</h3>

            </div>

            <div class="box">
                <img src="/services/pharmaceutical factory equipment mixing tank on production line in pharmacy industry manufacture factory.jpg"
                    alt="my online">
                <h3 class="home-secondary center">Pharmaceutical Product Manufactures</h3>

            </div>
            <div class="box">
                <img src="/services/Pharmacy Shop Interior Design Medicine Storage.jpg" alt="my online">
                <h3 class="home-secondary center">Pharmaceutical Product Wholesalers</h3>

            </div>
            <div class="box">
                <img src="/services/The Most Important Factors To Consider When Buying Medical Equipment.jpg"
                    alt="my online">
                <h3 class="home-secondary center">Medical Equipment dealers</h3>

            </div>
        </div>
    </section>
    <footer>
        <div class="center">
            Copyright &copy;www.srimarutipharmacy.com.All rights are reserved.
        </div>
        <ul>
            <li class="logo"> <img src="facebook-2429746_1280.png" alt="">
                <img src="soon-873316_1280.png" alt="">
                <img src="twitter-2430933_1280.png" alt="">
                <img src="instagram-6338401_1280.png" alt="">
            </li>
        </ul>

    </footer>


</body>

</html>