#navbar{flex-direction: column;
}
#navbar::before{
    height: 120px;
}
#navbar ul li{
    justify-content: space-evenly;
    height: 67px;
align-items: center;}
#navbar ul li a{
    font-size: 1rem;

    
}#contact{
    justify-content: space-evenly;
    flex-direction: column;
    /* height: 100%; */
    align-items: center;
}
#contact form{width: 279px;
    height: 374px;
justify-content: space-evenly;}
#contact img{width: 100%;}
.chat{width: 100%;}
.chat img{width: 8%;}

/* position: fixed;} */
/* #contact input{} */
/* #contact textarea{justify-content: space-evenly;} */
